* {
    padding: 0%;
    margin: 0%;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: rgb(209, 209, 209);
}

.cabc {
    background-color: rgba(192, 192, 192, 0.822);
    color: #0f1d51;
    box-shadow: 10px 8px 25px #1b66bc;
    border-bottom: #1f79df solid 5px;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.cabc .menulogo { 
    display: flex;
    justify-content: start;
    width: 190px;
    padding: 10px;
}

main img {
    position: absolute;
    height: 112vh;
}