* {
    padding: 0%;
    margin: 0%;
    font-family: "Ubuntu", sans-serif;
    user-select: none;
}

body {
    background-color: rgb(209, 209, 209);
}

.cabc {
    background-color: rgba(192, 192, 192, 0.877);
    color: #0f1d51;
    box-shadow: 10px 8px 25px #1b66bc;
    border-bottom: #1f79df solid 5px;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.cabc .menulogo { 
    display: flex;
    justify-content: start;
    width: 190px;
    padding: 10px;
}

main {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:url(./Imagens/Wallpaper.png);
    background-size: cover;
}

@media (max-width: 1000px) {
    main h5 {
        opacity: 0; /* Tornar a caixa invisível */
        visibility: hidden; /* Garantir que a caixa não ocupa espaço */
    }
}


main h5 {
    font-family: inlanders;
    color: #ffff;
    font-size: 55px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 30px;
    letter-spacing: 2px;
}

main .goodbye1 {
    margin-top: 13%;
}

main .Ezsec {
    color: #476fff;
}

main #buy {
    margin-top: 70px;
    margin-left: 74%;
    height: 70px;
    width: 300px;
    font-size: 30px;
    letter-spacing: 2px;
    font-family: inlanders;
    color: white;
    background-color: #476fff;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

main #buy:hover {
    background-color: #122875;
}

@font-face {
    font-family: 'inlanders';
    src: url('./fonte/Inlanders\ Demo.otf');
}